#featured{
  img{
     height: 100%; /*arruma os espaços sobrando das imagens, q nn fica perfeito.Acaba esticando a imagem*/
   /*faz a cobertura do espaço sobrando*/
      object-fit: cover;
      border-radius: 4px; /*arredondada na img*/
  }
 
  .card{
    border-radius: 4px;
    overflow: hidden;;
    position: relative;
     &::before{/*criando elemento html com css*/ 
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      );
     }

     figcaption{
      position:absolute;
      bottom: 0;

      padding: 24px;
     }

     h2{
      margin-top: 24px;
     }
  }
}